<% include partials/header %> 


  <div class="container">
 <div class="row">
     <div class="col">
    
        <form action="/budget/user/register" method="post">
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" placeholder="Username" name='username'>
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="Password" name='password'>
                <button>Sign Up</button>
                </div>
            </div>
        </form>
     </div>
 </div>
</div>

<% include partials/footer %> 

